# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 7 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'le-wagon' : 10868,
'general-assembly' : 10761,
'shecodes' : 11014,
'Wild-code-school' : 11169
}

import re
import pandas as pd
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])

    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['rawbody'] = reviews['body'].apply(remove_tags)
    reviews['body'] = reviews['body'].apply(remove_tags)
    reviews['comments'] = reviews['body'].apply(remove_tags)
    reviews['user'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
le-wagon
general-assembly
shecodes
Wild-code-school

In [3]:
comments_df = pd.DataFrame(comments)

In [4]:
comments_df = comments_df.drop(columns=["rawBody"])

In [5]:
comments_df

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,createdAt,...,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,rawbody,school
0,302783,Anonymous,True,None,2023.0,False,Tracking specialist,Overall positive,Ironhack was a very good experience for me. I'...,7/11/2023,...,Web Development Bootcamp,Ironhack was a very good experience for me. I'...,4.7,Ironhack was a very good experience for me. I'...,5.0,5.0,4.0,Ironhack was a very good experience for me. I'...,Ironhack was a very good experience for me. I'...,ironhack
1,302774,Anonymous,True,None,2023.0,False,,Awesome!,"My skill level has been enhanced, I met people...",7/11/2023,...,None,"My skill level has been enhanced, I met people...",5.0,"My skill level has been enhanced, I met people...",5.0,5.0,5.0,"My skill level has been enhanced, I met people...","My skill level has been enhanced, I met people...",ironhack
2,302682,Anonymous,True,None,2023.0,False,,"The bootcamp in general is good, but not worth...",For the value of 8 thousand euros I expected m...,7/7/2023,...,UX/UI Design Bootcamp,For the value of 8 thousand euros I expected m...,2.7,For the value of 8 thousand euros I expected m...,3.0,2.0,3.0,For the value of 8 thousand euros I expected m...,For the value of 8 thousand euros I expected m...,ironhack
3,302245,Anna,False,None,2023.0,False,,The Bootcamp experience was very mixed and the...,Pros: Group work and individual projects Basic...,6/22/2023,...,UX/UI Design Bootcamp,Pros: Group work and individual projects Basic...,2.0,Pros: Group work and individual projects Basic...,2.0,2.0,2.0,Pros: Group work and individual projects Basic...,Pros: Group work and individual projects Basic...,ironhack
4,301920,Pedro Dias,False,None,2023.0,False,,"Updated content, great teacher, exciting proje...",I had some experience coding as a hobby and ha...,6/10/2023,...,Web Development Bootcamp,I had some experience coding as a hobby and ha...,4.7,I had some experience coding as a hobby and ha...,5.0,5.0,4.0,I had some experience coding as a hobby and ha...,I had some experience coding as a hobby and ha...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,247296,Sarah,False,Software Engineering,2019.0,True,None,Wild Code School Berlin,"Wild Code School Berlin is empowering, relevan...",3/15/2019,...,Web development,"Wild Code School Berlin is empowering, relevan...",5.0,"Wild Code School Berlin is empowering, relevan...",5.0,5.0,NaN,"Wild Code School Berlin is empowering, relevan...","Wild Code School Berlin is empowering, relevan...",Wild-code-school
96,247259,Anelisy,False,Software Engineering,2019.0,True,None,Amazing support - Lisbon Campus,"The application is pretty straight forward, wi...",3/13/2019,...,Web development,"The application is pretty straight forward, wi...",5.0,"The application is pretty straight forward, wi...",5.0,5.0,5.0,"The application is pretty straight forward, wi...","The application is pretty straight forward, wi...",Wild-code-school
97,247250,Anastasiya,False,Software Engineering,2019.0,True,None,Wild Code School - Berlin Campus,I'm totally satisfied with the approach Wild C...,3/12/2019,...,Web development,I'm totally satisfied with the approach Wild C...,5.0,I'm totally satisfied with the approach Wild C...,5.0,5.0,NaN,I'm totally satisfied with the approach Wild C...,I'm totally satisfied with the approach Wild C...,Wild-code-school
98,245276,DK,False,Software Engineering,2019.0,True,None,Wild Code School Berlin campus,I visited Berlin campus on opening meetup and ...,3/12/2019,...,Web development,I visited Berlin campus on opening meetup and ...,5.0,I visited Berlin campus on opening meetup and ...,5.0,5.0,NaN,I visited Berlin campus on opening meetup and ...,I visited Berlin campus on opening meetup and ...,Wild-code-school
99,245211,Camille,False,Software Engineering,2019.0,True,None,Berlin Campus,I've just successfully passed the application ...,3/12/2019,...,Web development,I've just successfully passed the application ...,5.0,I've just successfully passed the application ...,5.0,5.0,NaN,I've just successfully passed the application ...,I've just successfully passed the application ...,Wild-code-school

In [6]:
import pandas as pd

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = pd.json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack
app-academy
springboard
le-wagon
general-assembly
shecodes
Wild-code-school

In [7]:
locations_list[0]

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828

In [8]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,17145,"Milan, Italy",39.0,Italy,IT,31107.0,Milan,milan,NaN,NaN,NaN,NaN,Wild-code-school,11169
22,17146,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,Wild-code-school,11169
23,17147,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,Wild-code-school,11169
24,17472,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,Wild-code-school,11169
25,17473,"Bruxelles, Belgium",46.0,Belgium,BE,31241.0,Bruxelles,bruxelles,NaN,NaN,NaN,NaN,Wild-code-school,11169

In [9]:
courses = pd.concat(courses_list)
courses.head(10)

                                courses       school  school_id
0               Cyber Security Bootcamp     ironhack      10828
1               Cybersecurity Part-Time     ironhack      10828
2               Data Analytics Bootcamp     ironhack      10828
3              Data Analytics Part-Time     ironhack      10828
4                 UX/UI Design Bootcamp     ironhack      10828
5                UX/UI Design Part-Time     ironhack      10828
6              Web Development Bootcamp     ironhack      10828
7             Web Development Part-Time     ironhack      10828
0  16-week Software Engineering Program  app-academy      10525
1                         Bootcamp Prep  app-academy      10525

In [10]:
courses

,courses,school,school_id
0,Cyber Security Bootcamp,ironhack,10828
1,Cybersecurity Part-Time,ironhack,10828
2,Data Analytics Bootcamp,ironhack,10828
3,Data Analytics Part-Time,ironhack,10828
4,UX/UI Design Bootcamp,ironhack,10828
5,UX/UI Design Part-Time,ironhack,10828
6,Web Development Bootcamp,ironhack,10828
7,Web Development Part-Time,ironhack,10828
0,16-week Software Engineering Program,app-academy,10525
1,Bootcamp Prep,app-academy,10525
2,24-week Software Engineering Program (Full Time),app-academy,10525
3,48-week Software Engineering Program (Part Time),app-academy,10525
4,App Academy Open,app-academy,10525
5,Self-Paced Bootcamp Prep Online,app-academy,10525
0,Cyber Security Career Track,springboard,11035
1,Data Analytics Career Track,springboard,11035
2,Data Science Career Track,springboard,11035
3,Data Science Career Track Prep,springboard,11035
4,Front-End Web Development,springboard,11035
5,Introduction to Data Analytics,springboard,11035
6,Introduction to Design,springboard,11035
7,Software Engineering Career Track,springboard,11035
8,Software Engineering Career Track Prep Course,springboard,11035
9,Software Engineering Foundations to Core,springboard,11035
10,Tech Sales Career Track,springboard,11035
11,UI/UX Design Career Track,springboard,11035
12,UX Career Track,springboard,11035
0,Data Analytics - Full-Time,le-wagon,10868
1,Data Analytics - Part-Time,le-wagon,10868
2,Data Engineering - Full-Time,le-wagon,10868
3,Data Engineering - Part-Time,le-wagon,10868
4,Data Science - Full-Time,le-wagon,10868
5,Data Science - Part-Time,le-wagon,10868
6,Web Development - Full-Time,le-wagon,10868
7,Web Development - Part-Time,le-wagon,10868
0,Data Analytics (Part-Time),general-assembly,10761
1,Data Analytics Immersive,general-assembly,10761
2,Data Science (Part-Time),general-assembly,10761
3,Data Science Immersive,general-assembly,10761
4,Digital Marketing (Part-Time),general-assembly,10761
5,Front-End Web Development (Part-Time),general-assembly,10761
6,JavaScript Development,general-assembly,10761
7,Product Management (Part-Time),general-assembly,10761
8,Python Programming (Part-Time),general-assembly,10761
9,React Development (Part-Time),general-assembly,10761
10,Software Engineering Immersive,general-assembly,10761
11,User Experience Design (Part-Time),general-assembly,10761
12,User Experience Design Immersive,general-assembly,10761
13,Visual Design (Part-Time),general-assembly,10761
0,SheCodes Basics,shecodes,11014
1,SheCodes Max,shecodes,11014
2,SheCodes Plus,shecodes,11014
3,SheCodes Pro,shecodes,11014
0,Full-time Cybersecurity Analyst,Wild-code-school,11169
1,Full-time Data Analyst,Wild-code-school,11169
2,Full-time Web Developer,Wild-code-school,11169
3,Work-Study Advanced Web Developer,Wild-code-school,11169
4,Part-time Front-End Web Developer,Wild-code-school,11169
5,Part-time Business Intelligence and Data Visua...,Wild-code-school,11169

In [11]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [12]:
# any data cleaning still missing here? take a look at the description
import pandas as pd
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.lewagon.com,"<span class=""truncatable""><p>Le Wagon is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,le-wagon,10868
0,generalassemb.ly?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>General Assembly ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761

In [ ]:
import re
import pandas as pd
import requests
comments = []
locations_list = []
courses_list = []
badges_list = []
schools_list = []

def get_data_comments():
    for school in schools.keys():
        print(school)
        comments.append(get_comments_school(school))
    for school, id in schools.items():
        print(school)
        a,b,c,d = get_school_info(school,id)

        locations_list.append(a)
        courses_list.append(b)
        badges_list.append(c)
        schools_list.append(d)
    locations = pd.concat(locations_list)
    comments = pd.concat(comments)
    schools = pd.concat(schools_list)
    badges = pd.concat(badges_list)
    return "Data adquiried"

In [13]:
import mysql.connector
def connect_to_base():
    cnx = mysql.connector.connect(user='root',
                                password='547812',
                                host='localhost',
                                database='sakila')

In [14]:
def drop_database():
    query = ('''DROP DATABASE IF EXISTS project; ''')
    cursor = cnx.cursor()
    cursor.execute(query)

In [45]:
def create_database(project):
    query = (f'''CREATE DATABASE IF NOT EXISTS {project}; ''')
    cursor = cnx.cursor()
    cursor.execute(query)
    return "done"

In [16]:
def use_database(database):
    query = (f'''USE {database}; ''')
    cursor = cnx.cursor()
    cursor.execute(query)
    return "done"

In [17]:
drop_database()
create_database()
use_database("project")

'done'

In [18]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw='547812',
                               db="project"))

In [19]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()

In [20]:
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()

In [21]:
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()

In [22]:
schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()

In [23]:
def add_data():
        schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 2000)
    cnx.commit()
        courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 2000)
    cnx.commit()
        badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()
        locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()
        schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()
    return "All added"

In [24]:
comments_df.to_sql('comments', con = engine, if_exists = 'append', chunksize = 2000)
cnx.commit()

In [25]:
def remove_table(table,column):
    query = (f'''ALTER TABLE {table} DROP {column} ;''')
    cursor = cnx.cursor()
    cursor.execute(query)
    cnx.commit()
    return "Done"

In [26]:
remove_table("comments","rawBody")
remove_table("comments","review_Body")
remove_table("comments","user")
remove_table("comments","Body")
remove_table("comments","createdat")
remove_table("comments","anonymous")
'''remove_table("comments","id"-> used by primary and ref.'''

'remove_table("comments","id")'

In [27]:
def define_PK(table,column):
    query = (f'''ALTER TABLE {table} ADD PRIMARY KEY ({column}) ;''')
    cursor = cnx.cursor()
    cursor.execute(query)
    cnx.commit()
    return "Done"
def define_FK(table,column,table2,column_og):
    query = (f'''ALTER TABLE {table} ADD FOREIGN KEY ({column}) REFERENCES {table2}({column_og}) ;''')
    cursor = cnx.cursor()
    cursor.execute(query)
    cnx.commit()
    return "Done"

In [28]:
define_PK("schools","school_id")

'Done'

In [29]:
define_PK("comments","id")

'Done'

In [ ]:
#define_FK("comments","program","courses","school") -> Couldn't make it work properly

The Update function, lacked focus on wich data are really necessary, kinda of missed the point on what to export.

In [62]:
import mysql.connector
import pymysql
from sqlalchemy import create_engine
import re
import pandas as pd
import requests
schools = {
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'le-wagon' : 10868,
'general-assembly' : 10761,
'shecodes' : 11014,
'Wild-code-school' : 11169
}

def connect_to_base(database):
    cnx = mysql.connector.connect(user='root',
                                password='547812',
                                host='localhost',
                                database=f'{database}')
    engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw='547812',
                               db=f'{database}'))
    query = (f'''USE {database}; ''')
    cursor = cnx.cursor()
    cursor.execute(query)
    return "done"

def add_data():
    comments_df.to_sql('comments', con = engine, if_exists = 'append', chunksize = 2000)
    cnx.commit()
    return "All added"
comments = []
locations_list = []
courses_list = []
badges_list = []
schools_list = []

def get_data_comments():
    for school in schools.keys():
        print(school)
        comments.append(get_comments_school(school))
    for school, id in schools.items():
        print(school)
        a,b,c,d = get_school_info(school,id)

        locations_list.append(a)
        courses_list.append(b)
        badges_list.append(c)
        schools_list.append(d)
    locations = pd.concat(locations_list)
    comments = pd.concat(comments)
    schools = pd.concat(schools_list)
    badges = pd.concat(badges_list)
    return "Data adquiried"
def update(database):
    get_data_comments()
    connect_to_base(f"{database}")
    create_database(f"{database}")
    use_database(f"{database}")
    add_data()

In [63]:
update("project")

UnboundLocalError: cannot access local variable 'schools' where it is not associated with a value